<!DOCTYPE html>
<html>
{% load static %}
	<head>
	    <meta charset="utf-8">
	    <title>Gusic - The best way to meet awesome DJENT songs</title>
	    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400|PT+Serif:700" rel="stylesheet">	
	</head>
	<body>
		<div class="body-frame">
			<div class="header-frame">
				<div class="header">
					<div class="image-frame">
				        <img src="{% static 'image/top-image.png' %}" alt="top-image" class="image">
					</div>
					<div class="title-copy-frame">
						<div class="title-frame">
							<h1 class="title">Gusic</h1>
						</div>
						<div class="copy-frame">
			            	<h2 class="copy">awesome DJENT song ? use Gusic!</h2>
						</div>	
					</div>			
				</div>
			</div>
			<div class="content-frame">
				<div class="search-frame">
					<div class="initial-frame">
					   	<h2 class="initial">アーティスト名の頭文字</h2>
					   	<form action="index" method="get" name="initial" class="initial-form">
					   		{{ initialForm.errors.initial }}
					   		<label>{{ initialForm.initial }}</label>
					     	<input type="button" value="選択" onclick="submit()" />
					  	</form>					
					</div>
					<div class="is-frame">
						<h2 class="is-title">インクリメンタルサーチ</h2>
					  	<input type="text" id="is-kw"/>
						    {% for a in artists %}
						<input type="radio" id="list">        
						   {% endfor %}					
					</div>
				</div>
			</div>		
		</div>

	  	<script type="text/javascript">
	    var artists = {{ artists_list|safe }};
	    </script>

	    <script src="{% static 'js/index.js' %}"></script> 
    </body>
</html>
